#root {
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  position: relative;
}
.maindiv {
  background-color: beige;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  box-shadow: 40px 40px 60px rgba(0, 0, 0, 0.1);
  position: relative;
}
.display {
  height: 200px;
  width: 900px;
  display: flex;
  flex-direction: row;
  position: relative;
  left: 3%;
  justify-content: center;
  overflow: hidden;
}

.char {
  border: 3px solid;
  height: 50px;
  width: 100px;
  margin: 60px 3px 3px 3px;

  font-size: 50px;
}
.overDiv {
  height: 100%;
  width: 100%;
  background-color: rgba(8, 9, 8, 0.5);
  position: absolute;
  display: flex;

  justify-content: center;
  align-items: center;
}
.gameOver {
  height: 300px;
  width: 300px;
  background-color: rgb(218, 110, 110);
  border: 3px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
input {
  margin-bottom: 70px;
}

p {
  font-size: 30px;
  margin-bottom: 90px;
}
.succes {
  color: green;
}
.partialSucess {
  color: orange;
}
.wrong {
  color: red;
}
.moves {
  margin-top: 50px;
  font-size: 30px;
}
.gameWin {
  height: 300px;
  width: 500px;
  background-color: rgb(79, 185, 102);
  border: 3px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.lives {
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.input {
  width: 200px;
  height: 70px;
  text-align: center;
  border-radius: 30px;
  border: 3px solid rgb(15, 27, 76);
}
